<div class="movies">
  <div class="movie">
    <img [src]="moviePoster1.posterImage" alt="movie image" />
    <div class="movie-container">
      <h3>Title: {{ moviePoster1.title }}</h3>
      <p>Release Year: {{ moviePoster1.year }}</p>
      <p>Director: {{ moviePoster1.director }}</p>
      <a [href]="moviePoster1.link">IMDB</a>
      <button (click)="onVote(0)" [disabled]="voted && !isSelected(0)">
        {{ changeButtonText(0) }}
      </button>
      <p
        style="color: green"
        [hidden]="!isSelected(0) || (!voted && isSelected(0))"
      >
        Chosen!
      </p>
    </div>
  </div>

  <div class="movie">
    <img [src]="moviePoster2.posterImage" alt="movie image" />
    <div class="movie-container">
      <h3>Title: {{ moviePoster2.title }}</h3>
      <p>Release Year: {{ moviePoster2.year }}</p>
      <p>Director: {{ moviePoster2.director }}</p>
      <a [href]="moviePoster2.link">IMDB</a>
      <button (click)="onVote(1)" [disabled]="voted && !isSelected(1)">
        {{ changeButtonText(1) }}
      </button>
      <p
        style="color: green"
        [hidden]="!isSelected(1) || (!voted && isSelected(1))"
      >
        Chosen!
      </p>
    </div>
  </div>
  <div class="movie">
    <img [src]="moviePoster3.posterImage" alt="movie image" />
    <div class="movie-container">
      <h3>Title: {{ moviePoster3.title }}</h3>
      <p>Release Year: {{ moviePoster3.year }}</p>
      <p>Director: {{ moviePoster3.director }}</p>
      <a [href]="moviePoster3.link">IMDB</a>
      <button (click)="onVote(2)" [disabled]="voted && !isSelected(2)">
        {{ changeButtonText(2) }}
      </button>
      <p
        style="color: green"
        [hidden]="!isSelected(2) || (!voted && isSelected(2))"
      >
        Chosen!
      </p>
    </div>
  </div>
  <div class="movie">
    <img [src]="moviePoster4.posterImage" alt="movie image" />
    <div class="movie-container">
      <h3>Title: {{ moviePoster4.title }}</h3>
      <p>Release Year: {{ moviePoster4.year }}</p>
      <p>Director: {{ moviePoster4.director }}</p>
      <a [href]="moviePoster4.link">IMDB</a>
      <button (click)="onVote(3)" [disabled]="voted && !isSelected(3)">
        {{ changeButtonText(3) }}
      </button>
      <p
        style="color: green"
        [hidden]="!isSelected(3) || (!voted && isSelected(3))"
      >
        Chosen!
      </p>
    </div>
  </div>
</div>
